.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}

.menu .info-box-text {
    margin-top: 12px;
}

a.btn:not([href]):not([tabindex]) {
    color: white
}

.form-child .form-group.row>div {
    margin: 5px 0
}